*{
    margin:0;
    padding:0;
}

form {
    background-image: url("https://browser-f85dacca-902d-495e-9699-928fa3003b80.ws-eu03.gitpod.io/workspace/python3/static/Images/background-hairdresser-pr-salon-hair_1303-1315.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.flashes {
    color:#f2f;
	animation: flash linear 5s alternate-reverse;
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
.brand-logo {
    margin: 5px;
    animation: flash linear 5s forwards;
}

.page-footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:120x;
}
table {
    overflow: scroll;
}
 @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
    .information {
        visibility: hidden !important;
    }
}