<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block styles %}
    {% endblock %}
    <title>Manager</title>
</head>
<body>

	<header>
        <!-- top navbar -->
		<nav class="nav-extended text-shadow black">
			<div class="nav-wrapper">
                {% if session.user|lower == "admin"|lower %}
                    <a href="{{ url_for('bookings') }}" class="brand-logo">
                       <h5 class="teal-text">Hairzone</h5>
                    </a>
                {% endif %}
				<a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
				<ul class="right hide-on-med-and-down">
                    {% if session.user %}
                        <li><a href="{{ url_for('bookings') }}">Home<span class="new badge">{{ number_of_bookings }}</span></a></li>
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_booking') }}">Book now</a></li>
                        {% if session.user|lower == "admin"|lower %}
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
				</ul>
			</div>
		</nav>

        <!-- mobile sidenav -->
		<ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align light-blue-text text-black">Booking Manager</h4></li>
            {% if session.user %}
                <li><a href="{{ url_for('bookings') }}">Home</a></li>
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_booking') }}">New Booking</a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('bookings') }}">Manage Bookings</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                    <!-- Dropdown Trigger -->
                    <li><button class="dropdown-trigger btn" data-target="dropdown1"><i class="fas fa-users">Users</i></button></li>

                        <!-- Dropdown Structure -->
                        <ul id="dropdown1" class="dropdown-content">
                            {% for user in users %}
                            <li > {{ user.username }}</li>
                            <li class="divider" tabindex="-1"></li>
                            {% endfor %}    
                        </ul>
            {% endif %}
		</ul>
	</header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h6 class="center-align light-blue">{{ message }}</h6>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer text-shadow black">
          <div class="container text-shadow white">
            <div class="row">
              <div class="col l6 s5">
                <h5 class="teal-text">Follow us on social media</h5>
                <p class="teal-text text-lighten-4">Try our best booking service</p>
              </div>
              <div class="col l4 offset-l2 s4">
                <ul>
                    <li><a class="teal-text text-darken-3" href="#!"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a class="teal-text text-darken-3" href="#!"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="teal-text text-darken-3" href="#!"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="teal-text text-darken-3" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
              <div class="col l2 s3">
                  <img src="https://browser-f85dacca-902d-495e-9699-928fa3003b80.ws-eu03.gitpod.io/workspace/python3/static/Images/881f0a4fbe6a6f03d45ccbf9ad9434cb.jpg" style="height: 100px;width: 140px;">
              </div>
            </div>
          </div>
        </footer>
     <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>